<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.lmu.js.interruptionesm">
    <uses-permission android:maxSdkVersion="28" android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS"/>

    <application
        android:name=".SessionState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimelineActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SessionListView" android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- Service that provides activity recognition data. Setting the android:exported attribute
         to "false" stops other apps from starting this service, even when using an explicit
         intent. -->

        <service android:name=".JobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />

        <service
            android:name=".DetectedActivitiesIntentService"
            android:exported="false"
            android:stopWithTask="false"/>
        <service android:name=".BackgroundDetectedActivitiesService"></service>

        <service android:name=".InterruptionStudyService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <!--<meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibilityservice"></meta-data>-->
        </service>
        <service android:name=".AppTrackerService" android:exported="false"
            android:stopWithTask="false"/>
        <service android:name=".TrackerWakelock" android:exported="false"
            android:stopWithTask="false"/>


        <service android:name=".NotificationLister"
            android:label="NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:stopWithTask="false"
            >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!--<receiver android:enabled="true" android:name=".StartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>-->

        <receiver
            android:name=".RestartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="activity_recognition.sensor_service.RestartSensor"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>